## config file for HuGene probe alignments.
## Note: many of the settings below can and will be overwritten by command line options.

#########################
## database settings:
[database]
mysql_user=jo
mysql_password=jo123
mysql_host=localhost
dbprefix=homo_sapiens_hugene20_
ensembl_user=anonuser
ensembl_password=empty
ensembl_host=madb.i-med.ac.at


#########################
## general settings
[general]
# target_fasta_base_dir is the base path where we can look for the chromosome fasta files. actually
# the fasta files are expected to be located in a folder <target_fasta_base_dir><Ensembl version>/fasta/<species>/dna
#target_fasta_base_dir=/home/bioinfo/ensembl/
target_fasta_base_dir=/Users/jo/ensembl/

# query_fasta_file: the fasta file containing the sequences we want to align against the genome.
query_fasta_file=../fasta/HuGene-2_0-st.fasta
#query_fasta_file=../fasta/HuGene-2.0-probe.tab.fasta

# species and species_ensembl. unfortunately we can not use "species" to query the Ensembl database...
species=homo_sapiens
#species_ensembl=human

# number of simultaneous alignment calls.
nrjobs=4

# config_file: text file with the Ensembl version. should contain 1 line with e.g. ensembl=71
#config_file=/home/bioinfo/ensembl/current.cfg
config_file=/Users/jo/ensembl/current.cfg

# exonerate_binary: specify the exonerate binary to be used for alignment.
exonerate_binary=/usr/local/exonerate/bin/exonerate

# log file will be <dbprefix>.log
log_path=../log/

# bin_path: directory where the perl scripts (align_exonerate etc) are located.
bin_path=./

# exonerate_out_path: directory where exonerate will store its alignment results
exonerate_out_path=/tmp/hugene20/

# probecheckcommand options
#probecheckcommand_options=-r 1050

# the number of rows of the array. is 2560 for Exon and 1050 for Gene ST arrays.
nr_row=1612


#########################
## alignment options
[alignment]
# number_mismatches_dbinsert: insert alignments with up to this number of mismatches to the database.
number_mismatches_dbinsert=1

# number_mismatches_allowed: number of mismatches allowed for perfect matching probes.
number_mismatches_allowed=0

# chip_type: either sense or antisense. Affymetrix ST arrays are sense.
chip_type=sense

# min_alignment: at least that number of nucleotides have to be aligned.
min_alignment=24

# probe_length: length of the sequences in the query fasta file.
probe_length=25

## max_number_GC: maximum numbers of G and C allowed in probe sequence.
max_number_GC=18

## max_number_genome_alignments: maximal number of times a probe can be aligned to genome.
max_number_genome_alignments=1
